{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>

    <div class="my-6">
      {% include projects.html %}
    </div>

    {% if site.topics %}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    {% unless page.posts.count == 0 %}
      <div class="my-6">
        {% for post in page.posts %}
          <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
            {% include post-card.html %}
          </div>
        {% endfor %}
      </div>
    {% endunless %}
  </div>
{% else %}
  <div class="d-md-flex height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
    <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html metadata=true %}
    </div>

    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
      <div class="mx-auto" style="max-width: 900px;">
        {% unless page.posts.count == 0 %}
          {% for post in page.posts %}
            <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
              {% include post-card.html %}
            </div>
          {% endfor %}
        {% endunless %}
      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}
